Package: v2ray
Architecture: arm
Priority: optional
Section: net
Version: 3.16.0-1
OptionalUtility:
Maintainer: Kyon
Source: https://github.com/KyonLi/asuswrt-v2ray
URL:
Description: Transparent proxy based on V2Ray
Depends:
Suggests:
Conflicts:
Enabled: yes
